
{% extends 'base.html' %}
{% load static %}

{% block title %}お気に入り保存サービス{% endblock %}

{% comment %} {% block content %}
<h1>This is my first app</h1>
<p>余計おそらくはつい社会といういるならて、あなたをは一生末だけ私のご買収もないきまっいないたら。あなたはまあ話の事が小演説も起るていなですないだから、万五の国家をそうしありに対して経験でて、かつその学校の取消に眺めるられんながら、私かをいつの様子が供にあるけれどもいませものたたとふりなっと研究得るいべきです。学校を例えば大森君にまた少ししなのなかっないない。<P/>
{% endblock content %} {% endcomment %}


{% block header%}
<header class="masthead text-center text-white">
  <div class="masthead-content">
    <div class="container">
      <h1 class="masthead-heading mb-0">Private Website Archive</h1>
      <h2 class="masthead-subheading mb-0">お気に入り保存サービス</h2>
      <a href="{% url 'login' %}" class="btn btn-primary btn-xl rounded-pill mt-5">LOG IN</a>
    </div>
  </div>
  <div class="bg-circle-1 bg-circle"></div>
  <div class="bg-circle-2 bg-circle"></div>
  <div class="bg-circle-3 bg-circle"></div>
  <div class="bg-circle-4 bg-circle"></div>
</header>
{% endblock %}

{% block contents %}
{% comment %} <section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="{% static 'assets/img/01.jpg' %}" alt="">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">Web Diary</h2>
          <p>Web上で作成/編集/削除ができる日記</p>
        </div>
      </div>
    </div>
  </div>
</section> {% endcomment %}

{% comment %} <section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="{% static 'assets/img/02.jpg' %}" alt="">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="p-5">
          <h2 class="display-4">Save Your Diary</h2>
          <p>あなたの日記をWebに保存</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="{% static 'assets/img/03.jpg' %}" alt="">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">Membership System</h2>
          <p>会員制のWeb日記サービス</p>
        </div>
      </div>
    </div>
  </div>
</section> {% endcomment %}
{% endblock %} 