{% extends 'base.html' %}

{% block content %}
<div class="container mx-auto">
  <form method="POST" action="{% url 'edit-account' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="formWrapper">
      <h3 class="form-title">アカウントの編集</h3>
      {% for field in form %}
    </label>{{field.label}}</label>
    <div class='form-field'>{{field}}</div>
    {% endfor %}
    <a class="btn btn-secondary" href="{% url 'account' %}">戻る</a>
    <input class="btn btn-primary" type="submit" value="送信">
    </div>
  </form>

    {% comment %} <form action="{% url 'edit-account' %}" method="POST">
      {% csrf_token %}
      {form}
    <input type="submit" value="送信" />
    </form> {% endcomment %}
</div>
{% endblock content %}